
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fontsweb/gilroyextrabold.woff") format("woff"), url("../fontsweb/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fontsweb/gilroylight.woff") format("woff"), url("../fontsweb/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fontsweb/opensans.woff") format("woff"), url("../fontsweb/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fontsweb/opensanslight.woff") format("woff"), url("../fontsweb/opensanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
  letter-spacing:  normal;
	color: #464646;
  background-color: #ffffff;
  letter-spacing: 0.2px;
}

a {
	text-decoration: none;
	color: #464646;
}

a,
img,
input,
button,
span {
	display: block;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

input,
textarea {
	font-family: inherit;
}

input[placeholder],
textarea[placeholder] {
  font-family: inherit;
}

.container {

	margin: 50px auto 0 auto;
	max-width: 1200px;
	min-width: 1200px;
}

.button-decoration {
  position: relative;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center
}
.button-decoration::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #f0c52e;
  height: 8px;
  left: 0;
  z-index: -1;
  top: 31%;
}

.main-header {
  position: relative;
  background-color: #f7e296;
  padding-top: 23px;
  padding-bottom: 150px;
}

.main-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.main-navigation--user,
.main-navigation--site {
  list-style: none;
  display: flex;
}

.site-search-block {
  border: none;
  padding-top: 10px;
  margin-right: 355px;
}

.search-input {
  background-color: #f7e296;
  border: none;
  margin-left: 58px;
}
 
.main-navigation--user__item {
  padding-top: 6px;
}
.main-navigation--user__enter {
  margin-right: 240px;
}

.main-navigation--user__compare {
  margin-right: 66px;
}

.main-navigation--user__item a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  /* font-weight: 800; */
  font-size: 15px;
  line-height: 30px;
  /* letter-spacing: 3px; */
}

.main-navigation--site__item {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 23px;
}

.main-navigation--site__catalog {
  padding-left: 20px;
}

.main-navigation--site__delivery {
  padding-left: 330px;
}

.main-navigation--site__warrenty {
  padding-left: 38px;
}

.main-navigation--site__contacts {
  padding-left: 115px;
}

.dropdown-catalog {
  position: absolute;
  padding-top: 18px;
  margin-top: 32px;
  top: 100px;
  left: 20px;
  display: none;
  /* display: flex; */
  background-color: #f7e296;
  z-index: 10;
  padding-bottom: 13px;
}


.main-navigation--site__catalog:hover .dropdown-catalog {
   display: flex;
}

.dropdown-catalog-item {
  list-style: none;
  padding-top: 10px;
}
.dropdown-catalog-item a{
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;

}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BIG SLIDER */

.slider-slides {
  list-style: none;
}

.slider-slide {
  position: relative;
  background-color: transparent;
  width: auto;
  display: flex;
}

.slide-info {
 padding-left: 560px;
 -webkit-transform: translateY(-85px);
  -ms-transform: translateY(-85px);
  transform: translateY(-85px);
}

.slider-img {
  position: absolute;
}

.slider-img-1 {
  width: 384px;
  -webkit-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  transform: translateY(-130px);
  left: 50px;
}

.slider-img-2 {
  width: 345px;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  left: 115px;
}

.slider-img-3 {
  width: 526px;
  -webkit-transform: translateY(-46px);
  -ms-transform: translateY(-46px);
  transform: translateY(-46px);
  left: 30px;
}

.slider-header {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  margin-bottom: 15px;
  margin-top: 37px;
}

.slide-number {
  position: absolute;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.8px;
  color: #ffffff;
  top: -55px;
  right: 45px;
}

.slider-text {
  padding-right: 50px;
  padding-bottom: 37px;
  padding-top: 3px;
}

.slider-table {
  padding-top: 55px;
  width: 540px;
}

.slider-table--first-line {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
}

.slider-table--second-line {
  font-size: 13px;
  line-height: 20px;
}

.column-2 {
  width: 136px;
}

.column-3 {
  width: 240px;
}

.item-opening-button {
  width: 220px;
}
 
.slider-controls {
	/* width: 100px; */
	position: absolute;
	/* bottom: 20px;
	left: -7px; */
	z-index: 101;
}
.slider-control::before {
  
}
/* categories */

.categories--list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: 25px
}

.categories--list-item {
  position: relative;
  margin-right: 40px;
}

.categories--list-item:last-child {
  margin-right: 0;
}

.categories--list-item::before {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  background-image: url("./img/SVG/popular-1.svg");
  background-position: center;
}

.categories--list-item__img {
  background-color: #f7e296;
}


.categories--list-item__title {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  margin-top: 34px;
  line-height: 24px;
}

/* SMall slider */


.services {
  margin-top: 162px;
  min-height: 288px;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
}
.small-slider-wrapper {
  display: flex;
  -webkit-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  transform: translateY(-80px);
}

.small-slider-controls {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 68px;
}

.small-slider-control {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  letter-spacing: 4px;
  width: 160px;
  height: 26px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 39px;
  padding-left: 7px;
  margin-right: 120px;
}

.services--slider {
  list-style: none;
  padding-left: 120px;
}

.section-header {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.services--slider h2 {
  margin-bottom: 30px;
}

.services--slider p {
  max-width: 460px;
}

/* BRANDS */

.brands-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 95px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.brands-list img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.1;
}

/* ABOUT US */

.about-us--wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 89px;
}

.about-us,
.contacts {
  width: 565px;
}

.about-us {
  padding-right: 75px;
}

.about-us h2,
.contacts h2 {
  margin-bottom: 42px;
}

.about-us p {
  margin-bottom: 30px;
}

.delivery-componies {
  list-style: none;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  padding-left: 36px;
  margin-top: 66px;
  margin-bottom: 62px;
}

.about-us--button,
.contacts--button {
  width: 262px;
}

.map {
  width: 560px;
  height: 223px;
  background-color: antiquewhite;
  margin-top: 39px;
  margin-left: 5px;
  margin-bottom: 77px;
}

/* FOOTER */

.main-footer {
  display: flex;
  padding-top: 66px;
  flex-direction: column;
  color: #ffffff;
  background-color: #464646;
}

.navigation__footer {
  display: flex;
}

.user-navigation--footer {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.user-navigation--footer a{
  color: #ffffff
}

.faq {
  display: flex;
}

.social {
  display: flex;
}

/* Фильтры */

input[type="radio"]:focus	+label::before,
input[type="checkbox"]:focus	+label::before {
outline: 2px solid #1e90ff;
}

