
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fontsweb/gilroyextrabold.woff") format("woff"), url("../fontsweb/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fontsweb/gilroylight.woff") format("woff"), url("../fontsweb/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fontsweb/opensans.woff") format("woff"), url("../fontsweb/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fontsweb/opensanslight.woff") format("woff"), url("../fontsweb/opensanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
  letter-spacing:  normal;
	color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.2px;
}

a {
	text-decoration: none;
	color: #464646;
}

a,
img,
input,
button,
span {
	display: block;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

input,
textarea {
	font-family: inherit;
}

input[placeholder],
textarea[placeholder] {
  font-family: inherit;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  color: #464646;
}

::-webkit-input-placeholder {font-weight: 400;}
::-moz-placeholder          {font-weight: 400;}
:-moz-placeholder           {font-weight: 400;}
:-ms-input-placeholder      {font-weight: 400;}

.container {
  margin: 0 auto;
  padding-top: 50px;
	min-width: 1440px;
}

.centered {
  width: 1160px;
  margin: 0 auto;
}

.button-decoration {
  position: relative;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
}

.button-decoration::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #f0c52e;
  height: 8px;
  left: 0;
  z-index: -1;
  top: 31%;
}

.button-decoration:hover::before {
  top: -9px;
  height: 40px;
}

.item-opening-button:active,
.about-us--button:active,
.contacts--button:active,
.button--pop-up:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  position: relative;
  background-color: #f7e296;
  padding-top: 23px;
}

.main-header--index {
  padding-bottom: 150px;
}

.main-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.menu-item:hover,
.logo:hover {
  opacity: 0.6;
}

.menu-item:active,
.logo:active {
  opacity: 0.3;
}

.main-navigation--user,
.main-navigation--site {
  list-style: none;
  display: flex;
}

.site-search-block {
  border: none;
  padding-top: 10px;
  margin-right: 355px;
}

.search-input {
  background-color: #f7e296;
  border: none;
  margin-left: 58px;
}
 
.main-navigation--user__item {
  padding-top: 6px;
  position: relative;
}
.main-navigation--user__enter {
  margin-right: 238px;
  margin-left: 22px;
}

.main-navigation--user__enter::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url("../img/SVG/user.svg");
  top: 14px;
  left: -26px;
}

.main-navigation--user__compare {
  margin-right: 63px;
}
.main-navigation--user__compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/SVG/compare.svg");
  top: 16px;
  left: -20px;
}

.main-navigation--user__basket::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  background-image: url("../img/SVG/cart.svg");
  top: 16px;
  left: -24px;
}

.main-navigation--user__item a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  /* font-weight: 800; */
  font-size: 15px;
  line-height: 30px;
  /* letter-spacing: 3px; */
}

.main-navigation--site__item {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 23px;
}

.main-navigation--site__catalog {
  padding-left: 20px;
}

.main-navigation--site__delivery {
  padding-left: 330px;
}

.main-navigation--site__warrenty {
  padding-left: 38px;
}

.main-navigation--site__contacts {
  padding-left: 115px;
}

.dropdown-catalog {
  position: absolute;
  width: 1160px;
  padding-top: 18px;
  margin-top: 32px;
  top: 100px;
  left: 0;
  display: none;
  /* display: flex; */
  background-color: #f7e296;
  z-index: 10;
  padding-bottom: 13px;
}


.main-navigation--site__catalog:hover .dropdown-catalog {
   display: flex;
}

.dropdown-catalog-item {
  list-style: none;
  padding-top: 10px;
}
.dropdown-catalog-item a{
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;

}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BIG SLIDER */

.slider-slides {
  list-style: none;
}

.slider-slide {
  position: relative;
  background-color: transparent;
  width: auto;
  display: flex;
}

.slide-info {
position: relative;
 padding-left: 560px;
 z-index: 100;
 -webkit-transform: translateY(-85px);
  -ms-transform: translateY(-85px);
  transform: translateY(-85px);
}

.slide-info::before {
  content: "";
  position: absolute;
  width: 100px;
  border-top: 7px solid #ffffff;
  top: -5px;
}

.slider-img {
  position: absolute;
}

.slider-img-1 {
  width: 384px;
  -webkit-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  transform: translateY(-130px);
  left: 50px;
}

.slider-img-2 {
  width: 345px;
  -webkit-transform: translateY(-110px);
  -ms-transform: translateY(-110px);
  transform: translateY(-110px);
  left: 75px;
}

.slider-img-3 {
  width: 526px;
  -webkit-transform: translateY(-46px);
  -ms-transform: translateY(-46px);
  transform: translateY(-46px);
  left: -10px;
  top: -15px;
}

.slider-header {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  margin-bottom: 15px;
  margin-top: 37px;
  z-index: 30;
}

.slide-info--2 .slider-header {
  width: 300px;
}

.slide-number {
  position: absolute;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.8px;
  color: #ffffff;
  top: -55px;
  right: 45px;
  z-index: -20;
}

.slider-text {
  padding-right: 50px;
  padding-bottom: 37px;
  padding-top: 3px;
}

.slide-info--2 .slider-text {
  padding-right: 100px;
}

.slider-table {
  padding-top: 55px;
  width: 540px;
}

.slider-table--first-line {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
}

.slider-table--second-line {
  font-size: 13px;
  line-height: 20px;
}

.column-2 {
  width: 136px;
}

.column-3 {
  width: 240px;
}

.item-opening-button {
  width: 220px;
}
 
.slider-controls {
	/* width: 100px; */
	position: absolute;
	/* bottom: 20px;
	left: -7px; */
	z-index: 101;
}

/* categories */

.categories--list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: 25px
}

.categories--list-item {
  position: relative;
  margin-right: 40px;
}

.categories--list-item:last-child {
  margin-right: 0;
}

.categories--list-item::before {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  background-image: url("./img/SVG/popular-1.svg");
  background-position: center;
}

.categories--list-item__img {
  background-color: #f7e296;
}

.categories--list-item:hover .categories--list-item__img{
  background-color: #f0c52e;
}

.categories--list-item:active .popular-img{
  opacity: 0.3;
}

.categories--list-item:active .categories--list-item__title{
  opacity: 0.3;
}

.categories--list-item__title {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  margin-top: 34px;
  line-height: 24px;
}

/* SMall slider */


.services {
  margin-top: 162px;
  min-height: 288px;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
}
.small-slider-wrapper {
  display: flex;
  -webkit-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  transform: translateY(-80px);
}

.small-slider-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 68px;
}

.small-slider-controls::before {
  content: "";
  position: absolute;
  height: 320px;
  border-left: 7px solid black;
  left: 277px;
  top: -20px;
}

.small-slider-control {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  letter-spacing: 4px;
  width: 160px;
  height: 26px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 39px;
  padding-left: 7px;
  margin-right: 120px;
}

.small-slider-control:active::before {
  background-color: #000000;
  width: 280px;
}

.small-slider-control:active,
.small-slider-control__active {
  color: #ffc600;
}

.services--slider {
  list-style: none;
  padding-left: 120px;
}

.small-slider-control__active::before {
  height: 40px;
  top: -9px;
  background-color: #000000;
  width: 280px;
}

.section-header {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.services--slider h2 {
  margin-bottom: 30px;
}

.services--slider p {
  max-width: 460px;
}

.services--info {
  position: relative;
}
.services--info::before {
  content: "";
  position: absolute;
}
.services--info__delivery::before {
  height: 164px;
  width: 136px;
  background-image: url('../img/svg/delivery.svg');
  left: 558px;
  top: 11px;
}

.services--info__warranty::before {
  height: 195px;
  width: 171px;
  background-image: url('../img/svg/warranty.svg');
  left: 558px;
  top: -14px;
}

.services--info__credit::before {
  height: 188px;
  width: 156px;
  background-image: url('../img/svg/credit.svg');
  left: 558px;
  top: -14px;
}



/* BRANDS */

.brands-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 95px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.brands-list img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.1;
}

.brands-list__item:hover {
   -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

/* ABOUT US */

.about-us--wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 89px;
}

.about-us,
.contacts {
  width: 565px;
}

.about-us {
  padding-right: 75px;
}

.about-us h2,
.contacts h2 {
  margin-bottom: 42px;
}

.about-us p {
  margin-bottom: 30px;
}

.delivery-componies {
  list-style: none;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  padding-left: 36px;
  margin-top: 66px;
  margin-bottom: 62px;
}

.delivery-componies li {
  position: relative;
}

.delivery-componies li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  left: -35px;
  top: 16px;
}

.about-us--button,
.contacts--button {
  width: 262px;
}

.map {
  width: 559px;
  height: 222px;
  background-color: antiquewhite;
  margin-top: 39px;
  margin-left: 5px;
  margin-bottom: 77px;
  background-image: url('../img/map.jpg');
  /* border: none; */
}

.about-us,
.contacts {
  position: relative;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  border-top: 7px solid #000000;
  top: -12px;
}

/* FOOTER */

.main-footer {
  padding-top: 62px;
  background-color: #464646;
  min-height: 325px;
}

.footer-wrapper {
  position: relative;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.navigation__footer {
  display: flex;
}

.user-navigation--footer {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0;
}

.user-navigation--footer a{
  color: #ffffff;
  margin-left: 64px;
}

.faq {
  display: flex;
}

.address {
  margin-top: 20px;
}

.faq-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 460px;
  margin-left: 145px;
  margin-top: 28px;
  padding-left: 0;
}

.faq-list-link {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.telephone {
  margin-left: auto;
  display: flex;
  margin-top: 20px;
}
.phone-number {
  color: #ffffff;
}

.social {
  display: flex;
}

.social-buttons {
  list-style: none;
  display: flex;
  position: relative;
  font-size: 0;
  margin: 0 auto;
  padding-left: 25px;
  padding-top: 50px;
}

.social-button {
  width: 54px;
}

.social-button::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
}

.social-button__facebook::before {
  background-image: url('../img/svg/facebook.svg')
}

.social-button__instagram::before {
  background-image: url('../img/svg/instagram.svg')
}

.social-button__twitter::before {
  background-image: url('../img/svg/twitter.svg')
}
/* Фильтры */

input[type="radio"]:focus	+label::before,
input[type="checkbox"]:focus	+label::before {
outline: 2px solid #1e90ff;
}

/* POP UPS */

.pop-up {
  position: absolute;
}

.pop-up--write {
  background-color: #ffffff;
  width: 960px;
  min-height: 550px;
  padding: 95px;
  top:1065px;
  left: 50%;
   margin-left: -480px;
  box-shadow: 0px 3px 20px grey;
}

.button--pop-up {
  border: none;
  z-index: 2;
  margin-top: 30px;
}

.pop-up__form {
  width: 765px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pop-up__form p{
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 360px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pop-up__form p:nth-child(3) {
  width: 960px;
}

.pop-up--input {
  background-color: #e6e6e6;
  border: none;
  height: 50px;
  padding: 15px 20px;
  opacity: 0.5;
}

.pop-up__form textarea {
  background-color: #e6e6e6;
  border: none;
  height:158px;
  padding: 15px 20px;
  opacity: 0.5;
}

.pop-up--input:hover,
.pop-up__form textarea:hover {
  background-color: #eaeaea;
  opacity: 0.8;
}

.pop-up--input:focus,
.pop-up__form textarea:focus {
  background-color: #ffffff;
  outline-color: #ffc600;
}

.pop-up--input:focus[placeholder],
.pop-up__form textarea:focus[placeholder] {
  color: #000000;
  font-weight: 700;
}

.pop-up--input:invalid {
  background-color: #edb5b5;
}

.pop-up-close {
  position: absolute;
  width: 55px; 
  height: 55px;
  background-color: transparent;
  background-image:  url('../img/svg/modal-close.svg');
  cursor: pointer;
  border: none;
  font-size: 0;
  top: 25px;
  right: 30px;
  opacity: 0.5;
}

.pop-up-close:hover {
  opacity: 1;
}

.pop-up-close:active {
  opacity: 0.3;
}


/* map */

.pop-up--map {
  width: 960px;
  height: 559px;
  left: 50%;
  margin-left: -480px;
  background-color: #e6e6e6;
  background-image: url("../img/map-big.jpg");
}

.pop-up--map iframe {
  border: none;
}

/* catalog */
.main-header--catalog {
  padding-bottom: 35px;
}

.login-navigation {
  list-style: none;
  display: flex;
  padding-left: 23px;
}

.login-link {
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url("../img/SVG/user.svg");
  top: 9px;
  left: -26px;
}

.login-link-off a{
  padding-left: 20px;
  margin-right: 82px;
  color: rgba(0, 0, 0, 0.3);
}

.main-catalog-header {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  padding-left: 62px;
  margin-top: 38px;
  margin-bottom: 23px;
}



.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 62px;
}

.breadcrumbs a {
  position: relative;
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a:not(.main-link)::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transform: rotate(45deg);
  top: 10px;
  left: -20px;
}

.filters {
  width: 560px;
  padding-left: auto;
}

/* main catalog part */

.big-catalog-container {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, right top, from(#dcdcdc), color-stop(30%, #dcdcdc), color-stop(30%, #eeeeee), to(#eeeeee)), -webkit-gradient(linear, left top, right top, from(#eeeeee), color-stop(30%, #eeeeee), color-stop(30%, #ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #dcdcdc 0%, #dcdcdc 30%, #eeeeee 30%, #eeeeee 100%), -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 30%, #ffffff 30%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #dcdcdc 0%, #dcdcdc 30%, #eeeeee 30%, #eeeeee 100%), -o-linear-gradient(left, #eeeeee 0%, #eeeeee 30%, #ffffff 30%, #ffffff 100%);
  background-image: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 30%, #eeeeee 30%, #eeeeee 100%), linear-gradient(to right, #eeeeee 0%, #eeeeee 30%, #ffffff 30%, #ffffff 100%);
  background-size: 100% 70px, 100% 100%;
  background-repeat: no-repeat;
   width: 100%;
  margin: 0;
  padding: 0;
}

.catalog-inner {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 42px;
}

.sorting {
  display: flex;
}

.items ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.items li {
  margin: 20px;
}